*{
    margin: 0;
    padding: 0;
}
p{
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}
.destaque-alura{
    color: blue;
}
.titulo-blog{
    color: blueviolet;
}
.urgente{
    color: red;
}
